body
{
background-image: url(neuron.jpg) ;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
font-family: Verdana;
font-size: 30px;
color:white;
}
input
{
    background-color: lightblue;
    border-radius: 40px;
    font-size: 13px;
    font-family:verdana;
    padding: 5px 32px;
    display: inline-block;
    border: 3px solid blue;
	top: -50px;
    position: relative;
   
}
p
{
font-size: 30px;	
}
h1
{
	color:white;
	letter-spacing: 5px;
	font-family: Verdana;
    text-align: center;
}